{
  "extends": ["stylelint-config-standard", "stylelint-config-css-modules"],
  "ignoreFiles": ["node_modules/*", "build/*"],
  "defaultSeverity": "error",
  "plugins": [
    "stylelint-no-unsupported-browser-features"
  ]
}
