@import "assets/css/_breakpoints.css";

.header {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

@media (--tablet) {
  .header {
    margin: 35px 0 30px;
  }
}

@media (--laptop) {
  .header {
    margin: 40px 0 32px;
  }
}
